[Unit]
Description = Backend Service

[Service]
User=eExecStart=/bin/node /app/index.js
SyslogIdentifier=backend

[Install]
Wxpense
 Environment=DB_HOST="{{ lookup('aws_ssm', '{{env}}.rds.endpoint', region='us-east-1' ) }}"
antedBy=multi-user.target
